<footer class="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6">
                {{ 'now'|date('Y') }} © Bureau de Change.
            </div>
            <div class="col-sm-6">
                <div class="text-sm-end d-none d-sm-block">
                    Développé avec <i class="mdi mdi-heart text-danger"></i> par Currency Exchange Team
                </div>
            </div>
        </div>
    </div>
</footer>
