# yaml-language-server: $schema=../vendor/symfony/dependency-injection/Loader/schema/services.schema.json

parameters:

services:
    # Configuration par défaut
    _defaults:
        autowire: true
        autoconfigure: true
        public: false

    # Charge automatiquement tous les services dans src/
    App\:
        resource: '../src/'
        exclude:
            - '../src/DependencyInjection/'
            - '../src/Entity/'
            - '../src/Kernel.php'

    # Controllers : doivent être publics et accepter les arguments
    App\Controller\:
        resource: '../src/Controller/'
        public: true
        tags: ['controller.service_arguments']

    # Définition explicite du RapportController (fix du constructor)
    App\Controller\RapportController:
        arguments:
            $transactionRepository: '@App\Repository\TransactionRepository'
            $fondsDepartRepository: '@App\Repository\DetailsFondsDepartRepository'
            $deviseRepository: '@App\Repository\DeviseRepository'
        public: true
